<!DOCTYPE html>
<html>
  <head>
    <title>FullStackProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <script type="text/javascript">window.logo = "<%= image_url("splash/pinterest-logo.png") %>" </script>
    <script type="text/javascript">window.img1 = "<%= image_url("splash/img1.jpg") %>" </script>
    <script type="text/javascript">window.img2 = "<%= image_url("splash/img2.jpg") %>" </script>
    <script type="text/javascript">window.img3 = "<%= image_url("splash/img3.jpg") %>" </script>
    <script type="text/javascript">window.img4 = "<%= image_url("splash/img4.jpg") %>" </script>
    <script type="text/javascript">window.img5 = "<%= image_url("splash/img5.jpg") %>" </script>
    <script type="text/javascript">window.img6 = "<%= image_url("splash/img6.jpg") %>" </script>
    <script type="text/javascript">window.img7 = "<%= image_url("splash/img7.jpg") %>" </script>
    <script type="text/javascript">window.img8 = "<%= image_url("splash/img8.jpg") %>" </script>
    <script type="text/javascript">window.img9 = "<%= image_url("splash/img9.jpg") %>" </script>
    <script type="text/javascript">window.img10 = "<%= image_url("splash/img10.jpg") %>" </script>
    <script type="text/javascript">window.img11 = "<%= image_url("splash/img11.jpg") %>" </script>
    <script type="text/javascript">window.img12 = "<%= image_url("splash/img12.jpg") %>" </script>
    <script type="text/javascript">window.img13 = "<%= image_url("splash/img13.jpg") %>" </script>
    <script type="text/javascript">window.img14 = "<%= image_url("splash/img14.jpg") %>" </script>
    <script type="text/javascript">window.img15 = "<%= image_url("splash/img15.jpg") %>" </script>
    <script type="text/javascript">window.img16 = "<%= image_url("splash/img16.jpg") %>" </script>
    <script type="text/javascript">window.img17 = "<%= image_url("splash/img17.jpg") %>" </script>
    <script type="text/javascript">window.img18 = "<%= image_url("splash/img18.jpg") %>" </script>
    <script type="text/javascript">window.img19 = "<%= image_url("splash/img19.jpg") %>" </script>
    <script type="text/javascript">window.img20 = "<%= image_url("splash/img20.jpg") %>" </script>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
